body {
    background-color: rgba(105, 90, 205, 0.401);
    padding: 20px;
    margin-top: 200px;
}

h2, p, time, button {
    font-family: 'VT323'
}

/* HEADER */
.page-header {
    background-color: slateblue;
    margin-bottom: 40px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    font-family: 'VT323';
}

/* POST */
.post {
    padding: 20px;
    border: 3px solid slateblue;
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(218, 213, 255);
}

.post-edit form { 

}

.edit-btn {

}

/* ANIMATIONS */
.rotate {
    animation: rotation 10s infinite linear; 
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }